.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: white;
}

.App-body {
  margin: 50px auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Cam-wrapper {
  margin: 20px auto;
  position: relative;
}

.PlayBtn {
  padding: 10px;
  border: 2px solid grey;
  cursor: pointer;
  width: 50px;
  margin: 0 auto;
  border-radius: 5px;
}

.Countdown {
  z-index: 99;
  width: 50px;
  left: 0;
  right: 0;
  margin: 50px auto;
  position: absolute;
  font-size: 100px;
  font-weight: bolder;
  color: white;
  -webkit-text-stroke: 5px black;
}